:root {
  --header-height: 20%;
  --commertial-width: 25%;
  --footer-height: 20%;
  --side-width: 30%;
}

body {
  font-size: 2vw;
}

fly-a {
  position: absolute;
  
  top: 50%;
  right: 10%;
}

fly-b {
  position: absolute;
  
  top: 60%;
  left: 5%;
}

text-vert-cont {
  display: flex;
  
  width: 100%;
  height: 100%;

  align-items: center;
}

text-vert-impl {
  display: block;
  
  flex: 1;

  padding-left: 0.5em;
  padding-left: 0.5em;
}

text-vert-impl-right {
  display: block;
  
  flex: 1;
  
  text-align: right;

  padding-right: 0.5em;
  padding-left: 0.5em;
}

text-vert-impl-center {
  display: block;
  
  flex: 1;
  
  text-align: center;
}

container {
  display: flex;
  
  width: 100vw;
  height: 100vw;
  
  flex-direction: column;
}

header {
  display: block;
  
  position: relative;

  background-color: #3cf;

  width: 100%;
  height: var(--header-height);
  
  box-shadow: inset 0 0 0 2px black;
}

other {
  display: flex;

  flex: 1;
}

main {
  display: flex;
  
  background-color: red;
  
  flex: 1;
  flex-direction: column;
}

text {
  display: block;

  background-color: white;
  
  flex: 1;
  
  box-shadow: inset 0 0 0 2px black;
}

article {
  display: flex;
  
  background-color: purple;

  flex: 1;
  flex-grow: row;
}

side {
  display: flex;
  
  background-color: red;
  
  width: var(--side-width);
  height: 100%;
  
  flex-direction: column;
}

footer {
  display: block;
  
  position: relative;
  
  background-color: #3cf;

  width: 100%;
  height: var(--footer-height);
  
  box-shadow: inset 0 0 0 2px black;
}

babe {
  display: block;
  
  background-color: #fdb;

  height: 50%;
  
  box-shadow: inset 0 0 0 2px black;
}

cafe {
  display: block;

  background-color: #cfb;
  
  height: 50%;
  
  box-shadow: inset 0 0 0 2px black;
}

commercial {
  display: block;

  background-color: #fdb;

  height: 100%;
  width: var(--commertial-width);
  
  box-shadow: inset 0 0 0 2px black;
}
	  
