container {
  display: grid;

  width: 100vw;
  
  box-shadow: inset 0 0 0 1px black;
}

header, content, commertial, side-1, side-2, footer {
  padding: 0.5rem;
}

img.commertial-image {
  width: 20em;
}

menu {
  margin-top: 3.5rem;
}

header {
  display: block;
  position: relative;

  background-color: #3cf;
  
  grid-area: 1 / 1 / 1 / 5;
  
  box-shadow: inset 0 0 0 1px black;
}

content {
  display: block;

  background-color: lightgray;
  
  grid-area: 2 / 2 / 4 / 4;
  
  box-shadow: inset 0 0 0 1px black;
}

side-1 {
  display: block;

  background-color: #fdb;
  
  grid-area: 2 / 1 / 2 / 1;
  
  box-shadow: inset 0 0 0 1px black;
}

side-2 {
  display: block;

  background-color: #cfb;
  
  grid-area: 3 / 1 / 3 / 1;
  
  box-shadow: inset 0 0 0 1px black;
}

commertial {
  display: block;

  background-color: #cfb;
  
  grid-area: 2 / 4 / 5 / 4;

  box-shadow: inset 0 0 0 1px black;
}

footer {
  display: block;
  position: relative;

  background-color: #3cf;

  position: relative;
  
  grid-area: 4 / 1 / 4 / 4;
  
  box-shadow: inset 0 0 0 1px black;
}

contact {
  display: block;

  width: 50rem;
}

@keyframes rainbow {
  0% { background-color: red; }
  14% { background-color: orange; }
  28% { background-color: yellow; }
  42% { background-color: rgb(0, 255, 0); }
  57% { background-color: rgb(95, 95, 255); }
  71% { background-color: hsl(275, 100%, 50%); }
  85% { background-color: violet; }
  100% { background-color: red; }
}

gaslo-a {
  display: block;

  position: absolute;

  right: 3rem;
  top: 0.8rem;

  animation: rainbow 2.718281828459045s infinite;
  border: 1px solid black;
}

gaslo-b {
  display: block;

  position: absolute;

  right: 3rem;
  top: 0.8rem;

  animation: rainbow calc(42s / 3.141592653 / 1.618033988749895 / 4.669201609102990) infinite;
  border: 1px solid black;
}

@media screen and (max-width: 1200px) {
  header {
    grid-area: 1 / 1 / 1 / 1;
  }
  
  content {
    grid-area: 2 / 1 / 2 / 1;
  }
  
  side-1 {
    grid-area: 3 / 1 / 3 / 1;
  }
  
  side-2 {
    grid-area: 4 / 1 / 4 / 1;
  }
  
  commertial {
    grid-area: 5 / 1 / 5 / 1;
  }
  
  footer {
    grid-area: 6 / 1 / 6 / 1;
  }
}
