[Software Requirements]
MaxIndexesCount:          100000
MaxRecordsCount:          100000
BlockSize:                1024 byte
KeySize:                  12 byte
IdSize:                   4 byte
ContentSize:              128 byte
ContentAdditionTactic:    AutoIncrement
IndexRecordSize           16 = KeySize + IdSize
IndexesPerBlock:          64 = BlockSize/IndexRecordSize
IndexBlocksCount:         1563 = ceil(MaxIndexesCount/IndexesPerBlock)
RecordBlocksCount:        12500 = MaxRecordsCount/(BlockSize/ContentSize)
IndexBlockFreePercentage: 50%
IndexValueSizeMark:       No
EmptyIndexDataRangeMark:  Zero-terminated first character

[Record File Facts]
On adding:
    Add to end block or create new on failing of load factor
    Add to block if it is not full
    
On deleting just nullify the record data:
    Redistribute data between empty and non empty blocks in order
      to guarantee avoiding of gap blocks between blocks
On getting just perform simplest operations

[Index File Facts]

[Graphical Screen Form]
Lbl:   Status
E+L:   DB path
E+L:   Index
E+L:   Value
Btn:   Set database [db path]
Btn:   Clear database
Btn:   Populate database (10^5)
Btn:   Add record [index + value]
Btn:   Change record [index + value]
Btn:   Remove record [index]
L+L:   Acquired value
Btn:   Output all data
Mllbl: List with pairs of indexes and values
