/* Externals */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

/* Base things */

html, body {
    margin: 0;
    padding: 0;

    width:  100%;
    height: 100%;

    color: white;
    font-family: 'Ubuntu Sans';
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-image: url('https://wallpaperaccess.com/full/2406405.jpg');

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Header */

.logo-wrapper {
    display: flex;
    justify-content: right;

    flex-grow: 1;
}

.header-splitter {
    display: flex;
    justify-content: left;

    flex-grow: 2;
}

.menu-wrapper {
    display: flex;

    flex-grow: 1;
}

.logo, .menu {
    width: min(8rem, 20vw);
    height: min(8rem, 20vw);
}

header {
    display: flex;

    flex-direction: row;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.7);

    padding-top:    0.5rem;
    padding-bottom: 0.5rem;

    width: 100%;
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.7);

    padding-top:    4rem;
    padding-bottom: 4rem;

    width: 100%;
}

.footer-content {
    padding-left: 1rem;
    padding-right: 1rem;

    font-size: 1.8rem;
    text-align: center;
}

/* Main */

main {
    display: flex;
    flex-direction: column;

    padding-top:    5rem;
    padding-bottom: 8rem;

    padding-left: 5rem;
    padding-right: 5rem;
}

.main-wrapper {
    display: flex;
    justify-content: stretch;

    width: 100%;
}

.main-header, .main-desc {
    max-width: 1400px;
    color: aliceblue;
}

.main-header {
    font-size: 2.8rem;
}

.main-desc {
    margin-top: 1rem;

    text-align: justify;

    font-size: 1.8rem;
    font-style: italic;
}

@keyframes rainbow {
      0%    { background-color: red;     }
      6.25% { background-color: orange;  }
     12.5%  { background-color: yellow;  }
     18.75% { background-color: green;   }
     25%    { background-color: cyan;    }
     31.25% { background-color: blue;    }
     37.5%  { background-color: violet;  }
     43.75% { background-color: purple;  }
     50%    { background-color: magenta; }
     56.25% { background-color: pink;    }
     62.5%  { background-color: lime;    }
     68.75% { background-color: teal;    }
     75%    { background-color: coral;   }
     81.25% { background-color: gold;    }
     87.5%  { background-color: brown;   }
     93.75% { background-color: silver;  }
    100%    { background-color: red;     }
}

.link-prod:hover {
    animation: rainbow 8s linear infinite;
}

.link-prod:not(:visited) {
    color: red;
}

.link-prod:visited {
    color: white;
}

.card-more > a:not(:visited) {
    color: red;
}

.card-more > a:visited {
    color: white;
}

.link-quiet {
    color: inherit;

    text-decoration: underline;
    text-decoration-style: dotted;
}

.cards {
    margin-top: 3rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 40px;
}

.card {
    width: 270px;
    height: 370px;
}

.third-card {
    width: 300px;
    height: 400px;
}

.card, .third-card {
    transition: transform 0.1s ease;
}

:is(.card-img, .third-card-img):hover {
    filter: brightness(1.2) saturate(1.6);
}

:is(.card, .third-card):hover {
    transform: scale(1.1);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 1rem;

    padding: 30px;
}

.card-img {
    width: 280px;
    border-radius: 1rem;

    box-shadow: 0 0 12px 12px rgba(255, 255, 255, 0.1);

    transition: box-shadow 0.5s ease, filter 0.5s ease;

    filter: brightness(0.7) saturate(0.5);
}

.card-img:hover {
    box-shadow: 0 0 12px 12px rgba(255, 255, 255, 0.3);
}

.card-text {
    margin-top: 2rem;

    font-size: 1.7rem;
    text-align: center;
}

.card-more {
    margin-top: 1rem;

    font-size: 2rem;
}

.third-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-card-img {
    width: 500px;
    height: 500px;

    transform: scaleX(-1);

    transition: filter 0.5s ease;
}

.third-card-img:hover {
    filter: brightness(1.2) saturate(1.9);
}

@media screen and (max-width: 1300px) {
    /* Miscalleous */

    body {
        background-size: 200rem;
    }

    main {
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .cards {
        margin-top: 3rem;
        flex-direction: column;
    }

    .card {
        width: 70vw;
        height: auto;
    }

    .card-img {
        width: 70vw;
    }

    .third-card-img {
        width: min(500px, 70vw);
        height: min(500px, 70vw);
    }

    .third-card {
        height: min(500px, 70vw);

        order: 1;
    }

    .card:nth-child(1) {
        order: 2;
    }

    .card:nth-child(2) {
        order: 3;
    }

    /* Font size */

    .main-header {
        font-size: 2.0rem;
    }

    .main-desc {
        font-size: 1.2rem;
    }

    .card-text {
        font-size: 1.4rem;
    }

    .card-more {
        font-size: 1.7rem;
    }

    .footer-content {
        font-size: 1.4rem;
    }
}
